.training-content {
    width: 95%;
    margin: 1%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    padding: 1.2%;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;
}

.container-padded {
    padding-left: 8%;
    padding-right: 8%;
}

.container-ant-selection {
    padding: 2%;
    padding-bottom: 0.5%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    transition: all .15s ease-in-out;
}

.ant-image {
    width: 34%;
    margin: 4px;
    transition: all .15s ease-in-out;
}

img:hover.ant-image {
    transform: scale(1.2);
}

.margin-top {  
    margin-top: 2.5% !important;
}

.ant-card {
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: "SemiBoldFont";
    font-size: 13px;
    text-align: center;
    padding: 0.5%;
}

.trail-name-row {
    margin-top: 4px;
}

.trail-details-row {
    margin-top: 1rem;
}

.label {
    width: 99%;
    font-family: "SemiBoldFont";
    font-size: 14px;
    text-align: left;
    padding: 0.5%;
    padding-left: 4px;
}

fieldset.with-border {
    border-width: 1px;
    border-bottom-style: dashed;
    border-color: gray;
    padding-top: 3%;
    padding-bottom: 3%;
}

.bottom-border {
    border-width: 1px;
    border-bottom-style: dashed;
    border-color: gray;
}

.row-container {
    padding-top: 1%;
    padding-bottom: 2%;
    margin-bottom: 0.5%;
}

.training-button {
    margin-top: 4%;
    margin-bottom: 2%;
}

.warn {
    font-family: "BoldFont";
    font-size: 11px;
}

.progress-gray {
    background-color: gray;
}

.progress-bar {
    background-color: gray !important;
}

.form-group {
    margin-bottom: 0.2rem;
}

.name-code-select {
    margin-left: 2%;
    margin-right: 2%;
}

.name-code-select.react-toggle .react-toggle-track {
    background-color: #0099E0;
}

.name-code-select.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #0099E0;
}
