.auth-form-container {
    width: 92%;
    padding: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 500px;
}

.auth-form-top {
    width: 92%;
    padding: 2%;
    padding-bottom: 6px;
    margin: 2%;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
}

.auth-form-title {
    font-family: "BoldFont";
    border-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 28px;
}

.auth-subtitle {
    font-family: "SemiBoldFont";
}

.test-borders {
    border-width: 1px;
    border-style: solid;
}

.feedback-alert {
    height: auto;
    font-family: "BoldFont";
    font-size: 14px;
}

.feedback {
    height: auto;
    font-family: "SemiBoldFont";
    font-size: 11px;
}

.from-row {
    margin: 12px;
    text-align: center;
}

.visual-demo {
    width: 88%;
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
}

Label {
    font-family: "SemiBoldFont";
}