.content {
    width: 98.5%;
    margin: 0.75%;
}

.trail-card {
    width: 92%;
    margin: 4%;
    margin-bottom: 10%;
}

.card-text {
    text-align: justify;
    font-family: "SemiBoldFont";
    font-size: 14px;
    margin: 0%;
    padding: 0%;
    width: 100%;
}

.col-no-padding {
    margin: 0%;
    padding: 0%;
}

.trail-thumbnail {
    max-width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    transition: all .15s ease-in-out;
}

img:hover.trail-thumbnail {
    box-shadow: 0 0 4px 3px rgba(57, 53, 73, 0.5);
    transform: scale(1.02);
}

.search-div {
    margin: 1%;
    margin-bottom: 2%;
    padding-left: 14px;
    padding-right: 14px;
}

.search-box {
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}

Input:hover.search {
    box-shadow: 0 0 3px 2px rgba(57, 53, 73, 0.5);
}

Input:focus.search {
    box-shadow: 0 0 4px 3px rgba(57, 53, 73, 0.5);
    border-color: rgba(57, 53, 73, 0.5);
    outline: none;
}

.subtitle-row {
    width: 99%;
    margin: 0.5%;
    font-size: 28px;
    font-family: "SemiBoldFont";
}

.pagination-container {
    width: 100%;
}

.top {
    margin-top: 12px !important;
}

.icon {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-bottom: 0.2rem;
}
