.loading-container {
    width: 96%;
    margin: 2px;
    margin-top: 18%;
}

.trail-container {
    width: 96%;
    margin: 2%;
}

.trail-design-info {
    margin-top: 12px;
    padding: 2%;
    text-align: left;
}

.trail-info-block {
    padding: 2%;
    margin-top: 20px;
    text-align: left;
}

.warn {
    font-family: "BoldFont";
    font-size: 11px;
    text-align: center;
}
