.nav {
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
    background-color: #434a56;
}

#brand {
    margin: 0%;
    padding: 0%;
}

#homepage-link {
    font-family: "SemiBoldFont";
    font-size: 18px;
}

#homepage-image {
    margin-right: 6px;
    padding-bottom: 6px;
}

.my-nav-item {
    font-family: "RegularFont";
    font-size: 15px;
    white-space: nowrap;
    text-align: end;
    padding-right: 12px;
}

.my-nav-item:hover {
    cursor: pointer;
}
