.canvas {
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
}


.buttons-description {
    text-align: center;
    margin: auto;
    font-family: "RegularFont";
}

.custom-padding {
    padding: 4px;
}