/*Local fonts*/
.animation-desc {
    font-size: 14px;
    font-family: "SemiBoldFont";
    text-align: left;
}

.title-header {
    text-align: center;
    font-family: "BoldFont";
    margin: 32px;
}

.content {
    width: 99.5%;
    height: auto;
    margin: 0 auto;
    margin-top: 0.3%;
    padding: 10px;
    padding-top: 0px;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    font-family: "SemiBoldFont";
}

.genetic-visual {
    width: 88%;
    float: left;
    margin: 2.1%;
}

.lorem-ipsum {
    display: inline;
    text-align: left;
    font-family: "RegularFont";
    font-size: 17px;
    margin: 3%;
}