.icon {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding-bottom: 0.2rem;
}

.pass-change-row {
    margin-top: 4%;
}

.profile-btn {
    margin-left: 2%;
    margin-right: 2%;
}

.ant-card {
    margin-top: 8%;
    margin-bottom: 2%;
    font-family: "SemiBoldFont";
    font-size: 13px;
    text-align: center;
    padding: 0.5%;
}

.ant-image {
    width: 34%;
}

.ants-container {
    height: 100%;
    margin-top: 1%;
    padding-right: 1.5%;
}

.data-container {
    height: 100%;
    margin-top: 1%;
    border-right-style: solid;
    border-right-width: 1px;
}

.trails-container {
    margin-top: 1%;
    border-top-style: solid;
    border-top-width: 1px;
}

.top-row {
    margin-top: 1%;
}

.add-btn {
    margin-left: 2.5%;
}

.add-icon {
    margin-bottom: 25%;
}

.pagination-row {
    margin-top: 10px;
    margin-bottom: 10px;
}