.my-canvas {
    width: 99%;
    border: 1px solid #000000;
    border-radius: 6px;
}

.right-space-button {
    margin-right: 20px;
}

.left-space-button {
    margin-left: 20px;
}

.label-with-margin {
    font-family: "SemiBoldFont";
    font-size: 14px;
    margin-right: 2%;
    display: flex;
    align-items: center;
    margin-bottom: 0%;
}

label.label-text {
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
    font-weight: bold;
}