/* Loading fonts that will be used in the app. */
@font-face {
  font-family: 'RegularFont';
  src: url('./Resources/Fonts/Assistant/Assistant-Regular.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'SemiBoldFont';
  src: url('./Resources/Fonts/Assistant/Assistant-SemiBold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: "BoldFont";
  src: url('./Resources/Fonts/Assistant/Assistant-Bold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: "ExtraBoldFont";
  src: url('./Resources/Fonts/Assistant/Assistant-ExtraBold.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: "LightFont";
  src: url('./Resources/Fonts/Assistant/Assistant-Light.ttf') format('truetype');
  font-display: block;
}

@font-face {
  font-family: "ExtraLightFont";
  src: url('./Resources/Fonts/Assistant/Assistant-ExtraLight.ttf') format('truetype');
  font-display: block;
}

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/*.form-control:focus {
  outline: none;
  box-shadow: 0 0 3px 2px rgba(74, 73, 83, 0.5) !important;
  border:1px solid #424855 !important;
}

.form-control:hover {
  outline: none;
  box-shadow: 0 0 2px 1px rgba(74, 73, 83, 0.5) !important;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* A few often used text styles. */
.title {
  font-family: "BoldFont";
  font-size: 28px;
  text-align: center;
}
.subtitle {
  font-family: "SemiBoldFont";
  margin-top: 2%;
  text-align: center;
}
.subtitle-left {
  font-family: "SemiBoldFont";
  margin-top: 2%;
  text-align: left;
}
.info {
  font-family: "SemiBoldFont";
  font-size: 16px;
}
.strong-info {
  font-family: "BoldFont";
  font-size: 18px;
  padding-top: 2%;
}
.regular-text {
  font-family: "RegularFont";
  text-align: left;
}
.regular-text-centered {
  font-family: "RegularFont";
  text-align: center;
}
.form-text {
  text-align: left;
}
.image-descriptor {
  font-family: "SemiBoldFont";
  text-align: center;
  font-size: 15px;
}
.label {
  width: 99%;
  font-family: "SemiBoldFont";
  font-size: 14px;
  text-align: left;
  padding: 0.5%;
  padding-left: 4px;
}
span.left {
  font-family: "SemiBoldFont";
  font-size: 14px;
  text-align: left;
}
span.right {
  font-family: "SemiBoldFont";
  font-size: 14px;
  text-align: right;
}

/* Often used responsive classes */
.container-full{
  width: 100%;
  margin-left: 0%;
  padding: 0%;
  overflow: hidden;
}
.row-vertical-margin {
  padding: 1%;
  margin-top: 8px;
  margin-bottom: 8px; 
}
.row-vertical-margin-large {
  padding: 1%;
  margin-top: 16px;
  margin-bottom: 16px; 
}
.row-no-margin {
  margin: 0% !important;
}
.col-no-padding {
  padding: 0% !important;
}
.col-padding-large {
  padding-left: 3%;
  padding-right: 3%;
}

/* Generaly useful classes */
span.framed {
  padding-left: 6px;
  padding-right: 6px;
  margin-left: 5px;
  margin-right: 5px;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: #F8F8F8;
}